<!DOCTYPE html>
<html>
<head>
    <title>List Page</title>
</head>
<body>
<h1>Insert Page</h1>
<form action="/writeList" method='post'>
    <fieldset>
        <legend>INSERT DATA</legend>
        <table>
            <tr>
                <td><lable>NAME</lable></td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td><lable>TEXT</lable></td>
                <td><input type="text" name="text"/></td>
            </tr>
        </table>
        <input type="submit" value="Insert"/>
    </fieldset>
</form>
</body>
</html>